
#site_header {
    background-color: #FF6900;
    height: 60px;
    width: 100%;
    display: flex;
}



.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}



.logo {
    height: 35px;

}



.lista {
    list-style: none;
    display: flex;
    align-items: center;
    color: white;
}



li {
    padding: 5px;

}


section {
    display: flex;
    height: 33px;
    width: 10rem;

}




svg {
    padding: 5px;
}
